*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}

html , body{
    height: 100%;
    width: 100%;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: cornflowerblue;
}

#card{
    border-radius: 10px;
    height: 400px;
    width: 300px;
    background-color: #fff;
    padding: 25px;
    text-align: center;
}

#card img{
    height: 63%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
    width: 100%;
    box-shadow: 3px 5px 6px #636363;
}

#card h1{
    font-size: 25px;
    margin: 10px 0;
}

#card h5{
    font-size: 20px;
    color: red;
    margin-top: 25px;
}

#card button{
    background-color: cadetblue;
    color: #fff;
    font-weight: 700;
    padding: 10px 18px;
    border-radius: 5px;
    border: none;
    margin: 5px;
    margin-top: 20px;
    cursor: pointer;
    box-shadow: 3px 5px 6px #636363;
}
